[submodule "UnityGLTF/www/glTF-Sample-Models"]
	path = UnityGLTF/www/glTF-Sample-Models
	url = https://github.com/KhronosGroup/glTF-Sample-Models
[submodule "UnityGLTF/www/glTF-Asset-Generator"]
	path = UnityGLTF/www/glTF-Asset-Generator
	url = https://github.com/KhronosGroup/glTF-Asset-Generator
